<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        background-color: #aaa;
        
      }
      * {
        color: #000;
      }
    </style>
  </head>
  <body>
    <div>
      <span>hello-word</span>
      <img width="60" height="60" src="../images/pub.svg" alt="Kiwi standing on oval" />
    </div>
  </body>
</html>
